
@import "../styles//contants.scss";


.container{
    overflow-x: clip;
    position: relative;
    // color: $primary;
    // height: 200vh;
    @media (max-width:$sm), (max-width:$md){
        overflow-x: hidden;
    }
}